@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap");
@import "tailwindcss";

@theme {
  /* Colores */
  --color-primary: #704efd;
  --color-secondary: #2cb7ff;
  --color-pink: #ff017c;
  --color-orange: #ffa927;
  --color-dark: #3a3f5a;
  --color-light-bg: #f3f4ff;
  --color-light-bg-2: #f8faff;
  --color-white: #ffffff;

  /* Fuentes */
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Border radius */
  --radius-card: 12px;
  --radius-button: 8px;

  /* Sombras */
  --shadow-card: 0 2px 4px rgba(3, 27, 78, 0.06);
  --shadow-card-hover: 0 10px 20px rgba(3, 27, 78, 0.1);
}

@layer components {
  .container-adipa {
    width: 100%;
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding: var(--padding-global);
  }
}

:root {
  --container-max-width: 1400px;
  --padding-global: 20px;
}


body {
  background-color: var(--color-light-bg-2);
  color: var(--color-dark);
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}
